body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,83,1) 35%, rgba(0,212,255,1) 100%);
background-attachment: fixed;
margin:0%;
font-family: Arial, Helvetica, sans-serif;
line-height: 150%;
}
.group{
    margin-top: 3%;
}
#registration{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 30px;

}
h2{
    text-align: center;
    color:green;
}
#error1{
    color: red;
}
#error2{
    color: red;
}
#error3{
    color: red;
}
#error5{
    color: red;
}